<h1> <%= @bachelorette.name %>'s Contestants </h1>'
<% @bachelorette.bachelorette_contestants.each do |contestant| %>
  <div id="contestant-<%= contestant.id %>">
    <%= contestant.name %>
    <%= contestant.age %>
    <%= contestant.hometown %>
  </div>
<% end %>