<h1> <%= @bachelorette.name %>'s Contestants </h1>'
<% @bachelorette.bachelorette_contestants.each do |contestant| %>
  <div id="contestant-<%= contestant.id %>">
    <%=link_to "#{contestant.name}", contestant_path(contestant) %>
    <%= contestant.age %>
    <%= contestant.hometown %>
  </div>
  <% end %>
  <div id="contestant-hometowns">
    <p> These Contestants are from these hometowns: <%= @bachelorette.hometowns.join(", ") %></p>
  </div>
